{% if config.repo_url %}
<a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-source" data-md-component="source">
  <div class="md-source__icon md-icon">
    {% set icon = config.theme.icon.repo or "fontawesome/brands/git-alt" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
  </div>
  <div class="md-source__repository">
    {{ config.repo_name }}
  </div>
  {% if config.extra.build_version %}
  <div class="md-source__facts">
    <span class="md-source__fact md-source__fact--version">{{ config.extra.build_version }}</span>
  </div>
  {% endif %}
</a>
{% endif %}
